---
description: Reformat a recipe file using consistent style rules
argument-hint: <recipe-file> [source-url]
allowed-tools: Read, Write
---

The arguments are: $ARGUMENTS
{{ template "command-recipe-cleanup" . }}