[submodule ".elisp/org-mode"]
	path = .elisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule ".elisp/anything-config"]
	path = .elisp/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule ".elisp/ess"]
	path = .elisp/ess
	url = ssh://dev/var/www/html/proj/ess.git
[submodule ".elisp/emms"]
	path = .elisp/emms
	url = ssh://boxstream@development.streambox.com:5979/var/www/html/proj/emms.git
[submodule ".elisp/yasnippet-org-mode"]
	path = .elisp/yasnippet-org-mode
	url = git://github.com/RickMoynihan/yasnippet-org-mode.git
[submodule ".elisp/malabar-mode"]
	path = .elisp/malabar-mode
	url = git://github.com/espenhw/malabar-mode.git
[submodule ".elisp/sauron"]
	path = .elisp/sauron
	url = git://github.com/djcb/sauron.git
[submodule ".elisp/magit"]
	path = .elisp/magit
	url = git://github.com/magit/magit.git
[submodule ".elisp/puppet-syntax-emacs"]
	path = .elisp/puppet-syntax-emacs
	url = git://github.com/puppetlabs/puppet-syntax-emacs.git
[submodule ".elisp/nsis-mode"]
	path = .elisp/nsis-mode
	url = git://github.com/mlf176f2/nsis-mode.git
[submodule ".elisp/auto-complete"]
	path = .elisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule ".elisp/el-get"]
	path = .elisp/el-get
	url = git://github.com/dimitri/el-get.git
[submodule ".elisp/yasnippet"]
	path = .elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
