.abbrev_defs
.cups/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.breadcrumb
.cpan/
.emacs.d/
.keepassx/
.recentf
.ssh/
.subversion/
CygwinInstall/setup.log
CygwinInstall/setup.log.full
tmp/
trash/
