.projects.ede
*.mov
*.actl3
.CFUserTextEncoding
.DS_Store
.RData
.Rhistory
.Trash/
.abbrev_defs
.bash_history
.breadcrumb
.cpan/
.cups/
.emacs.d/
.gitk
.keepassx/
.local/share/Trash
.macports/
.recentf
.semanticdb/
.ssh/
.subversion/
.tramp_history
CygwinInstall/setup.log
CygwinInstall/setup.log.full
cygwin_setup/deploy/Program Files/CygwinInstall/setup.log
cygwin_setup/deploy/Program Files/CygwinInstall/setup.log.full
tmp/
trash/
.org.eclipse.epp.usagedata.recording.userId
.mozilla/