#
# A '#' or ';' character indicates a comment.
#

; core variables
[core]
; Don't trust file modes
filemode = false

; user identity
[user]
; name = "Taylor Monacelli"
name = boxstream
email = "taylor.monacelli@streambox.com"

[man]
; viewer = konqueror
viewer = woman

[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge.exe \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"

[alias]
 # good examples
 # http://git.wiki.kernel.org/index.php/Aliases
 br = branch
 co = checkout
 sub = submodule
 ap = add --patch
 dno = diff --name-only
 ci = commit
 lc = log ORIG_HEAD.. --stat --no-merges
 lrn = log --reverse --name-status
 subup = submodule update
 s = status
 dc = diff --cached
 dmod = diff --name-only --diff-filter=M
 dd =   diff --name-only --diff-filter=D
 un = ls-files -o --directory .
 ds = diff --stat
 changes=diff --name-status -r
 cl = config -l
 m = ls-files -m
 lfh = log --pretty=tformat:'%h %d %ar %s' --reverse ..FETCH_HEAD --name-status
 ln = log --pretty=tformat:'%h %d %ar %s' --reverse --name-status
 l2 = log --pretty=tformat:'%h %d %ar %s' --reverse -20
 l2n = log --pretty=tformat:'%h %d %ar %s' --reverse --name-status -20
 l3 = log --pretty=tformat:'%h %d %ar %s' --reverse -30
 l3n = log --pretty=tformat:'%h %d %ar %s' --reverse --name-status -30
 l4 = log --pretty=tformat:'%h %d %ar %s' --reverse -40
 l4n = log --pretty=tformat:'%h %d %ar %s' --reverse --name-status -40
 l = log --pretty=tformat:'%h %d %ar %s' --reverse
 lpo = log --pretty=tformat:'%h %d %ar %s' --reverse
 lpon = log --pretty=tformat:'%h %d %ar %s' --reverse --name-status
 lg = log --graph --name-only 
 diffstat=diff --stat -r
 gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
 whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
 whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short

[color]
	ui = false
