if [ "$BASH" ]; then
  if [ -f ~{{ .chezmoi.pathSeparator }}.bashrc ]; then
    . ~{{ .chezmoi.pathSeparator }}.bashrc
  fi
fi

export PATH=~{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathListSeparator }}$PATH


# {{ .chezmoi.os }}
