if [ "$BASH" ]; then
  if [ -f ~/.bashrc ]; then
    . ~/.bashrc
  fi
fi

export PATH=~/.local/bin:$PATH

{{ if eq .chezmoi.os "darwin" }}
# darwin

{{ else if eq .chezmoi.os "linux" }}
# linux

if [ -d "/home/linuxbrew/.linuxbrew" ]; then
  export PATH="/usr/local/bin:$PATH"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew is not installed in the expected location." >&2
fi

brew() {
   sudo --user linuxbrew --login brew "$@"
}

{{ else }}

# other operating system
{{ end }}
