{{ if eq .chezmoi.os "darwin" }}
# darwin
{{ else if eq .chezmoi.os "linux" }}
# linux

# Setup Homebrew if it exists
if [ -d "/home/linuxbrew/.linuxbrew" ]; then
  export PATH="/usr/local/bin:$PATH"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew is not installed in the expected location." >&2
fi

# Function to run brew as linuxbrew user
brew() {
   sudo --user linuxbrew --login brew "$@"
}

{{ else }}
# other operating system
{{ end }}



