{{ if eq .chezmoi.os "darwin" }}
# darwin

{{ else if eq .chezmoi.os "linux" }}
BREW_PATH=/home/linuxbrew/.linuxbrew/bin
if [[ -d "$BREW_PATH" && ! "$PATH" =~ "$BREW_PATH" ]]; then
    export "PATH=$BREW_PATH:$PATH"

fi

brew() {
   sudo --user linuxbrew --login brew "$@"
}

{{ else }}

# other operating system
{{ end }}
