{{ template "git-instructions" . }}
{{ template "general-return-early" . }}
{{ template "general-logging" . }}
{{ template "general-silence" . }}
{{ template "general-solid-principles" . }}
{{ template "general-readme" . }}

## Python Instructions
{{ template "python-imports" . }}
{{ template "python-package" . }}
